@import '../../../assets/css/base.scss';
.bg-color{
    background-color: #f2f2f2;
}
.col-md-8{
    margin-top: 10%;
    .card{
        border-radius: 15px;
        overflow: hidden;
        .card-header{
            background-color: $color-logo !important;
            h4{
                color:white
            }
        }
    }
}

.show-doctor{
    border-radius: 10px;
}