$color-primary: #111c63;
$color-button:#1DCBB6;
$color-logo: #3aa9cf;
$color-header-nav-link: #e8f1ff;
$color-bg: #dbf0fe;
$color-text:#4a4a4a;
$color-select: #b9e0fc;
$color-border: #028eb5;


*{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


