@import '../../../assets/css/base.scss';

.form-update-doctor{
    height: 100%;
    border-radius: 10px;
    width: 500px;
    .btn-update{
        background-color: $color-logo;
        border: none;
        width: 120px;
        height: 44px;
        color: white;
        &:hover{
            color:black
        }
    }
}
.bg-color{
    background-color: #f2f2f2;
}